<div class="d-flex flex-column bg-dark">
    <div id="manager-nav" class="d-flex flex-row align-items-center">
        <CustomNavButton class="d-flex gap-2 p-3 rounded-pill flex-row align-items-center text-white" id="newTab">
            <img src="./assets/plus_white_480x480.png" width="24" height="24">
            <p class="mb-0">new tab</p>
        </CustomNavButton>
        <CustomNavButton class="text-white ms-auto p-3" id="tabManager-settings">
            <img src="./assets/three-dots_24x24_white.png" width="24" height="24">
        </CustomNavButton>
    </div>
</div>